*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width:100%;
	height: 100%;
}

.bg{
	width: 100%;
	height: 100vh;
	
	background-image: url("../images/frontImg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.admin-btn-wrapper{
	
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}